[build]
publish = "public"
#command = "hugo --gc --minify"
command = "hugo --gc --minify --baseURL https://composedocs.netlify.app/"

[context.production.environment]
HUGO_VERSION = "0.142.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.split1]
command = "hugo --gc --minify --enableGitInfo"

[context.split1.environment]
HUGO_VERSION = "0.142.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.142.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "0.142.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"
