{{- $variablesPath := "js/variables.js" }}
{{- $variables := resources.Get $variablesPath | resources.ExecuteAsTemplate $variablesPath . }}

{{- $funcPath := "js/functions.js" }}
{{- $functions := resources.Get $funcPath | resources.ExecuteAsTemplate $funcPath . }}

{{- $fusePath := "js/fuse.js" }}
{{- $fuse := resources.Get $fusePath | resources.ExecuteAsTemplate $fusePath . }}

{{- $searchPath := "js/search.js" }}
{{- $search := resources.Get $searchPath | resources.ExecuteAsTemplate $searchPath . }}

{{- $mainScriptPath := "js/index.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $bundle := slice $variables $functions $main | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
{{- $bundle2 := slice $fuse $search | resources.Concat "js/search.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $bundle.Permalink }}"></script>
<script src="{{ $bundle2.Permalink }}" async defer></script>

