{{- $variables := partial "functions/getScript" (dict "slug" "variables") }}
{{- $functions := partial "functions/getScript" (dict "slug" "functions") }}
{{- $code := partial "functions/getScript" (dict "slug" "code") }}
{{- $mode := partial "functions/getScript" (dict "slug" "mode") }}
{{- $main := partial "functions/getScript" (dict "slug" "index") }}

{{- $customScriptPath := "js/custom.js" }}
{{ if (fileExists "../../assets/js/custom.js") }}
  {{ $customScriptPath := "../../assets/js/custom.js" }}
{{ end }}
{{- $custom := resources.Get $customScriptPath | resources.ExecuteAsTemplate $customScriptPath . }}

{{- partial "scripts/getJsBundle" (dict "scripts" (slice $variables $functions $code $mode $main $custom) "slug" "bundle") }}

{{- partialCached "scripts/search" . -}}
{{- partialCached "hooks/scripts" . -}}

{{- $sp := .Site.Params }}
{{- with $sp.customJS }}
  {{- range . -}}
    <script src="{{ . }}" async></script>
  {{- end }}
{{- end -}}
