{{- $link := .Get 0 -}}
{{- $label := .Get 1 }}
{{- $icon := .Get 2 }}
{{- $modifier := "" }}
{{- if in $label "translucent" }}
  {{ $modifier = "translucent" }}
{{- end }}
{{- if in $label "," }}
  {{- $details := split $label "," }}
  {{- $label = index $details 0 }}
  {{- $modifier = printf "button_%s" (trim (index $details 1) " ") }}
{{- end -}}
<a href="{{ $link }}" class="button {{ $modifier }}">
  {{- with $icon -}}
  <img src="/images/{{ . }}" alt="icon">
  {{- end }}
  {{- $label -}}
</a>
