{{- $images := split (replace (.Get 0) ", " ",") "," }}
{{- $descriptions := split (replace (.Get 1) ":: " "::") "::" }}
<div class="gallery">
  {{- range $index, $image := $images }}
    {{- if eq (or (strings.Contains $image "https://") (strings.Contains $image "http://")) true }}
      {{- $image = absURL $image }}
    {{- end }} 
    <figure class="gallery_item">
      <img src="{{ $image }} " class="gallery_image"{{ with $descriptions }}{{ with (index . $index) }} alt="{{ . }}"{{ end }}{{ end }}/>
    </figure>
  {{ end }}
</div>
